@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* slate-900 para excelente legibilidade no fundo branco */

  /* Cores institucionais solicitadas */
  --color-primary-blue: #0468BF; /* Azul menos forte */
  --color-medium-blue: #0468BF;
  --color-primary-green: #5FBF45;
  --color-soft-green: #80BF6F;
  --color-yellow: #ffcf00; /* Amarelo solicitado */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Animações e Transições específicas */
.carousel-zoom-effect {
  animation: zoomEffect 6s ease-in-out infinite alternate;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.06);
  }
}